/* add your CSS here */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(219, 242, 146);
}

div {
    border: 1px solid rgb(171, 169, 169);
    background-color: rgb(255, 255, 255);
}

h3 {
    font-size: 22pt;
    margin: 15px;
}

p {
    font-size: 12pt;
    margin: 15px;
}

img {
    border: 1px solid #333;
    margin: 15px;
    width: 300px;
}

span {
    font-weight: bolder;
}

li {
    list-style: none;
}

.interesting {
    font-style: italic;
}

.facts {
    margin: 15px;
    width: 300px;
}

.main {
    max-width: 335px;
    margin: auto;
    box-shadow: 12px 12px 2px 1px rgba(162, 162, 172, 0.2);
}